<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerador de Ficha aleatória D&D 5e</title>
    <style>
        #positiveNumber {
            width: 42px;
        }

        #rangeInput {
            width: 300px;
        }
    </style>
</head>
<body>
    <h1>Gerador de Ficha aleatória D&D 5e</h1><br>
    <form method="POST" action="/generate_pdf" target="_blank">
        <input type="range" id="rangeInput" name="level" min="1" max="20" value="1"> Nivel
        <span id="rangeValue">1</span> <br>

        <p>Pesos são a ordem de importância do atributo, quanto maior o peso mais importante o atributo.</p>
        <input type="number" id="positiveNumber" name="Strength" value="0"> Strength <br>
        <input type="number" id="positiveNumber" name="Dexterity" value="0"> Dexterity <br>
        <input type="number" id="positiveNumber" name="Constitution" value="0"> Constitution <br>
        <input type="number" id="positiveNumber" name="Intelligence" value="0"> Intelligence <br>
        <input type="number" id="positiveNumber" name="Wisdom" value="0"> Wisdom <br>
        <input type="number" id="positiveNumber" name="Charisma" value="0"> Charisma <br>
        <input type="submit" id="Gerar" value="Gerar"> <br>
        <input type="checkbox" name="all" id="selectAll"> Usar TODO CONTEÚDO <br>
        <input type="checkbox" class="content" name="sub_class"> Usar sub classe <br>
        <input type="checkbox" class="content" name="sub_race"> Usar sub raça <br>
        <input type="checkbox" class="content" name="PHB"> Usar Player's Handbook <br>
        <input type="checkbox" class="content" name="UA"> Usar Unearthed Arcana <br>
        <input type="checkbox" class="content" name="CoS"> Usar Curse of Strahd <br>
        <input type="checkbox" class="content" name="MBaB"> Usar Mulmaster Bonds and Backgrounds <br>
        <input type="checkbox" class="content" name="SoH"> Usar State of Hillsfar <br>
        <input type="checkbox" class="content" name="AI"> Usar Acquisitions Incorporated <br>
        <input type="checkbox" class="content" name="PSA"> Usar Plane Shift - Amonkhet <br>
        <input type="checkbox" class="content" name="DC"> Usar Dragonlance Campaign <br>
        <input type="checkbox" class="content" name="PSI"> Usar Plane Shift - Innistrad <br>
        <input type="checkbox" class="content" name="GGtR"> Usar Guildmaster's Guide to Ravnica <br>
        <input type="checkbox" class="content" name="SaCoC"> Usar Strixhaven: A Curriculum of Chaos <br>
        <input type="checkbox" class="content" name="EGtW"> Usar Explorer's Guide to Wildemount <br>
        <input type="checkbox" class="content" name="SAiSAAG"> Usar Spelljamer: Adventures in Space - Astral Adventurer's Guide <br>
    </form>
    <script>
        const rangeInput = document.getElementById('rangeInput');
        const rangeValue = document.getElementById('rangeValue');

        // Atualiza o valor exibido ao lado do slider quando o valor do input range muda
        rangeInput.addEventListener('input', function() {
            rangeValue.textContent = rangeInput.value;
        });

        document.getElementById('selectAll').addEventListener('change', function() {
            var checkboxes = document.querySelectorAll('.content');
            for (var i = 0; i < checkboxes.length; i++) {
                checkboxes[i].checked = this.checked;
            }
        });
    </script>
</body>
</html>